@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Risque');
h2 {
    font-family: 'Bungee', cursive;
    color: #ffa131
}

table {
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    width: 100%;
    height: 100%;
}

td, th {
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
}

td {
    height: 25px;
}

th {
    height: 40px;
    background: grey;
    color: #c3ff3d;
    font-size: 120%;
    font-family: 'Bungee', cursive;
}
.styleRectangle {
    list-style:decimal;
    font: 20px 'Risque', cursive;
    padding: 15px 50px;
    text-shadow: 0 2px 0 rgba(250, 255, 125, 0.64);
}
