* {
    border: 0;
    padding: 0;
}

.container {
    background: #fff8c3;
    border: 1px solid grey;
}

.header {
    background: #ffd4c5;
    margin: 15px;
    padding: 10px;
    -webkit-box-shadow: 0px -11px 26px 2px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px -11px 26px 2px rgba(0,0,0,0.42);
    box-shadow: 0px -11px 26px 2px rgba(0,0,0,0.42);
}

.main {
    margin: 15px;
}

.block-1 {
    border: 1px solid grey;
    margin-top: 10px;
    padding: 10px;
    
}

h1 {
    margin: 0;
    color: orangered;
    text-align: center;
}

h2 {
    margin-left: 20px;
}

h3 {
    margin-left: 40px;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
}
li {
    background: #e8e8e8;
    margin-bottom: 5px;
    padding: 3px 10px 3px 10px;
    border: 1px solid #e8e8e8;
    width: 70%;
}
li, a {
    text-decoration: none;
    color: #a76650;
    
}
li:hover {
    border: 1px solid grey;
}

.important-info {
    border: 2px solid red;
    background: #f8a2a2;
    padding: 15px;
    width: 50%;
}
.style-result {
    background: #84ff84;
    padding: 15px;
    border: 1px solid grey;
    box-shadow: 0 0 10px grey;
    width: 50%;
}

button {
    padding: 4px;
    border: 1px solid grey;
    border-radius: 4px;
    text-align: center;
    width: 60px;
    margin-bottom: 10px;
}