@import url('https://fonts.googleapis.com/css?family=Comfortaa|Exo+2|Maven+Pro');

* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', 'Arial', 'Verdana', sans-serif;
    color: #363636;
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 205px;
    grid-template-rows: 120px 1fr 50px;
    min-height: 100vh;
    margin: 20px;
}
.header {
    grid-column: 1 / span 2;
    text-align: center
}
.main {
    grid-column: 1;
    grid-row: 2;
}
.right-menu {
    grid-column: 2;
    grid-row: 2;
}
.footer {
    grid-column: 1 / span 2;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header, .main, .right-menu, .footer {
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px grey;
}

h1 {
    margin-left: 50px;
    padding-bottom: 4px;
    width: 600px;
    /*margin: auto;*/
    border-bottom: 2px solid #f09b00;
}

#right-menu-h2, h2 {
    text-align: center;
    border-bottom: 1px solid #f09b00;
    padding-bottom: 5px;
    margin-bottom: 30px;
}
h2 {
    width: 95%;
    margin: auto;
}

ul {
    list-style: none;
}
li {
    margin-top: 5px;
    padding: 5px 3px 3px 3px;
    border-radius: 3px;
    border: 1px solid #d4d4d4;
    background: #fbfbfb;
}
a {
    text-decoration: none;
    padding-left: 5px;
}
li:hover {
    box-shadow: 0 0 5px grey;
    background: #f3f3f3;
    /*border-bottom: 1px solid #f09b00;
    із за додавання лінії при наведен на елемент решта меню дьоргаєтся
    точно є інший вихід знінити це, типу не показувати і потіб відобразити щось таке
    */
}
img {
    width: 100px;;
    height: 100px;
    margin-left: 10px;
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.inner-block {
    border: 1px solid #f09b00;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
}

.inner-block:hover {
    box-shadow: 0 0 5px grey;
    background: #f3f3f3; 
}
