li {
    background: none;
    width: initial;
    border: none;
}

li:hover {
    border: none;
}

.item_class_1 {
    color: #ff4500;
    font-weight: bolder;
}
#form_1 {
    list-style-type: decimal;
}