
#main_div {
    position: absolute;
    background: linear-gradient(to right, #6a6a6a, #ffffff);
    outline-style: double;
    outline-color: #19342b;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    color: #5a3b16;
    text-shadow: 2px 3px 10px #696969;
}
h2 {
    color: #dfffd1;
    outline-style: double;
    outline-color: #dfffd1;
    padding: 5px;
    width: 500px;
    margin: auto;
    transition: all 1s linear 0s;
}
h2:hover {
    transform: scale(1.2);
    background: #dfffd1;
    color: #6e6e6e;
}

p {
    color: #1f2929;
    font-size: 100%;
}

.inner_div {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    margin: 30px;
    padding: 10px;
    box-shadow: 8px 8px 15px #6a6a6a;
    transition: background 1s linear 0s;
}
.inner_div:hover {
    background: #6e6e6e;
}
#span {
    color: #d2ff14;
    font-weight: bolder;
    font-size: 20px;
    background: #9f6d6d;
}
