
#head {
    background: #c7c7c7;
    width: 960px;
    border-radius: 20px;
    border: 2px solid green;
    margin-bottom: 15px;
}

h1 {
    color: chocolate;
    text-align: center;
}

#main {
    background: #ffe6e6;
    width: 950px;
    border-radius: 20px;
    padding: 10px
}

.block_1 {
    border-bottom: 2px solid green;
}

h3 {
    color: #55008b;
    width: 300px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    padding:5px 10px 5px 30px;
}

#idP_12, #idP_13 {
    width: 400px;
    color: red;
    font-weight: bolder;
    font-size: 150%;
    padding: 5px;
    margin-left: 50px;
}
