
body {
    background: #fff0c8;
    font-family: Geneva, Arial, Helvetica, sans-serif;

}

main {
    padding: 30px;
    width: 960px;
    margin: auto;
}

h1 {
    font-size: 50px;
    text-align: center;
    border-bottom: 2px solid #9c9c9c;
}

article {
    padding: 20px;
    margin-bottom: 20px;
    background: #e7e7e7;
    box-shadow: 0 0 15px #9c9c9c;
}

.pay-attantion {
    background: #ff8a8a;
    padding: 5px;
    border: 1px solid red;
}
